.row {
  display: flex;
  flex-direction: row;
}

.cell {
  height: 5vh;
  aspect-ratio: 1;
  display: inline-block;
  outline: 1px solid white;
}

.snake {
  background-color: red;
}

.food {
  background-color: green;
}
